*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    box-sizing: border-box;
}
html header nav{
  scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color:#fff;
}
#header{
    width: 100%;
    height:100vh;
    background-image:url(Abhi11.png);
    background-size: 300px;
    background-repeat: no-repeat;
background-position: right;

}
.container{
    padding: 10%px 10%;
}
 /* nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
 } */
 .img{
    /* margin-left: 10px; */
    font-size: 2em;
 }

 nav{
    width: 100%;
    height: 18vh;
    /* background: white; */
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .container a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    position: relative;
 }
 .container a:before
 {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 0%;
     height: 100%;
     border-bottom: 2px solid indianred;
     transition: 0.4s linear;
 }
 .container a:hover:before
{
    width: 90%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}
.about-col-1 img{
    height: 400px;
    width: 300px;
    /* width: 100%; */
    border-radius: 15px;
}
/* ----------about----------   */
/* #about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.about-col-1 {
    flex-basis: 25%;
    text-align: left;
    
}
.about-col-2{
    flex-basis: 60%;
    text-align: left;
}
.sub-title{
    font-size:50px;
    font-weight: 600;
    color: #fff;
    text-align: left;
}
.about-col-1 h1 sub-title{
    text-align: left;
    float: right;
} */
#about {
    padding: 50px;
  }
  
  /* .container {
    display: flex;
    justify-content: center;
  } */
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .about-col-1 {
    flex: 1;
    padding: 10px;
  }
  
  .about-col-1 img {
    max-width: 100%;
    height: auto;
  }
  
  .sub-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 22px;
    line-height: 1.5;
  }
  .tab-titles{
    display: flex;
    margin: 20px 0 40px;
  }
  .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
  }
  .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom:-8px;
    transition: 0.5s;

  }
  .tab-links.active-link::after{
    width: 50%;
  }
  .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
  }
  .tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
  }
  .tab-contents{
    display: none;
  }
  .tab-contents.active-tab{
    display: block;
  }

  /* ------------------skills------------ */
  #skills{
    padding: 30px 0;
  }
  .skills-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid: gap 40px;
    margin-top: 50px;
  }
  
  
  /* #skills-and-abilities {
    height: 760px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.skills-abilities {
    margin-top: 30px;
}

.skills-abilities ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.skills-abilities ul li {
    font-size: large;
    font-weight: 500;
    margin: 4px 0;
}

.skill-item {

    padding: 25px;
    background-color: #333;
    color: #a1aafa;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    width: 250px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    font-size: 17px;
}

.skill-item:hover {
    color: rgb(240, 232, 232);
    background-color: var(--yellow);
}

.skill-item p {
    text-align: center;
} */
.skills-list div{
  background: #262626;
  padding: 10px;
  font-size: 13px;
  font-weight: 100;
  border-radius: 10px;
  transition: background 0.5s,transform 0.5s;
}
.skills-list div i{
  font-size: 50px;
  margin-bottom: 30px;
}
.skills-list div h2{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.skills-list div a{
  text-decoration: none;
  color: #fff;
  margin-top: 20px;
  display: inline-block;
}
.skills-list div:hover{
  background: #ff004f;
  transform: translate(-10px);
}

/* ---------------------contact------------ */
.contact-left{
     flex-basis:35% ;

}
.contact-right{
flex-basis: 60%;
  }
.contact-left p{
  margin-top: 30px;
}
.contact-left p i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.contact-right {
  float: right;
}
.social-ions{
  margin-top: 30px;

}
.social-ions a{
 text-decoration: none;
 font-size: 30px;
 margin-right: 15px;
 color: #ababab;
 display: inline-block ;
 transition: transform 0.5s;
}
.social-ions a:hover{
  color: #ff004f;
  transform: translateY(-5px);
}
.btn-box {
  display: inline-block;
  background-color: #ff004f;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.btn {
  text-decoration: none;
  color:black;
  padding: 5px 10px;
}
.contact-right form{
width: 100%;
}
form input, form textarea{

  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}
form .btn-box{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
}
.copyright{
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.copyright i{
  color: #ff004f;
}
/*--------Css for small Screen----------*/
nav .fa-solid{
  display: none;

}
@media only screen and (max-width:600px){
#header{
  background-image: url(ronny.png);
}
.header-text{
  margin-top: 100%;
  font-size: 16px;
}
header-text h1{
  font-size: 30px;
}
nav .fa-solid{
  display: block;
  font-size: 25px ;

}

}